{% extends 'base.html' %}

<body>
{% block content %}

<main>
    <div>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4" style="display: flex; justify-content: center;  align-items:center;">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." width="300" height="300">
                {% if user.is_authenticated and product.business.owner == user %}
                <div class="mt-3">
                    <a href="{% url 'updateproduct' product.id %}" class="btn btn-primary m-1">Update</a>
                    <a href="{% url 'deleteproduct' product.id %}" class="btn btn-danger m-1">Delete</a>
                </div>
                {% endif %}

                {% if messages %}
                <div class="mt-3">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

              </div>
              
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description}}</p>
                  {% if product.is_sale %}
                  <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    &nbsp;Discount!&nbsp;
                  <div class="bi-star-fill "></div>
                  </div>
                  <strike>shs.{{ product.price}}</strike> &nbsp;
                  {{product.sale_price}}
                  {% else %}
                  shs.{{ product.price}}
                  <br/>ID: {{ product.id }}
                  {% endif %}<br/>
                  <a href="{%  url 'home' %} "><button type="button" class="btn btn-outline-success"> Home</button></a>
                  
                </div>
              </div>
            </div>
          </div >
    </div>
</main>

{% endblock%}
</body>
